<!-- navbar -->
<header>
    <ul>
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
    </ul>
</header>

<!-- articles list -->
<h1>Articles</h1>
<section>
    <div>
        <h2>Aricle 1</h2>
        <p>Text</p>
    </div>
    <div>
        <h2>Article 2</h2>
        <p>Text</p>
    </div>
</section>

<!-- footer -->
<footer>
    <ul>
        <li>link 1</li>
        <li>link 2</li>
    </ul>
</footer>

<!-- we can divide these into separate components -->
<app-navbar></app-navbar>

<app-articles-list></app-articles-list>

<app-footer></app-footer>
<!-- and then the code will be in the separate components -->

<!-- We can even create another component called article -->
<!-- Then the article.component.html file can be repeated in the articles list -->